.wizardpage2 {
  width: 100%;
  height: 100%;

  input {
    margin-bottom: 50px;
  }

  .btn {
    width: 90px;
    margin: 0 auto;
  }
}
.reportcompany {
  border: cadetblue 2px solid;
  margin: 10px auto;
  width: 500px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#05a081;
}
